\cvsection{Experience}
\BLOCK{ for job in work }
\cvevent{ \VAR{ job.position } }{ \VAR{ job.name } }{ \VAR{ job.startDate } -- \VAR{ job.endDate | default('Present') } }{ \VAR{ job.location | default('Remote') } }

\BLOCK{ if job.summary }
\small \VAR{ job.summary }\par\vspace{0.5ex}
\BLOCK{ endif }
\begin{itemize}
\BLOCK{ for highlight in job.highlights[:4] }
    \item \VAR{ highlight }
\BLOCK{ endfor }
\end{itemize}

\BLOCK{ if not loop.last }
\divider
\BLOCK{ endif }
\BLOCK{ endfor }