{% for job in experience[:3] %}
\cvevent{ {{ job.position | replace('&', '\&') }} }{ {{ job.company }} }{ {{ job.start_date.month }} {{ job.start_date.year }} -- {% if job.current %}Present{% else %}{{ job.end_date.month }} {{ job.end_date.year }}{% endif %} }{ {{ job.location }}{% if job.location_type %}, {{ job.location_type }}{% endif %} }

\begin{itemize}
{% for achievement in job.achievements %}
    \item {{ achievement }}
{% endfor %}
{% if job.responsibilities %}
    {# Optional: include responsibilities if you want more detail #}
    {% for resp in job.responsibilities %}
    \item {{ resp }}
    {% endfor %}
{% endif %}
\end{itemize}

{% if not loop.last %}
\divider
{% endif %}

{% endfor %}