{% for interest in personal.interests[:4] %}
\cvachievement{\faCheck}{
{{ interest.title | replace('&', '\&') }}
}
{
{{ interest.description | replace('&', '\&') }}
}
{% if not loop.last %}
\divider
{% endif %}
{% endfor %}