\BLOCK{ if interests }
\par
\cvsection{Interests}
\BLOCK{ for item in interests }
\cvachievement{\VAR{ item.icon | default('\\faCheck') }}{\VAR{ item.title }}{\VAR{ item.description }}
\BLOCK{ if not loop.last }
\vspace{0.4ex}
\BLOCK{ endif }
\BLOCK{ endfor }
\BLOCK{ endif }
