{% for pair in languages | batch(2) %}
\begin{minipage}[t]{0.48\linewidth}
  \cvlanguage{ {{- pair[0].name }} }{ {{ pair[0].level }} }{ {{ pair[0].rating }} }
\end{minipage}
\hfill
\begin{minipage}[t]{0.48\linewidth}
  {% if pair[1] %}
  \cvlanguage{ {{- pair[1].name }} }{ {{ pair[1].level }} }{ {{ pair[1].rating }} }
  {% endif %}
\end{minipage}
\\[1.5ex] % Adds vertical space between rows
{% endfor %}