\documentclass[8pt,a4paper,ragged2e,withhyper]{enhancv}
\geometry{left=1.5cm,right=1.5cm,top=1.5cm,bottom=1.5cm}

\begin{document}

\name{\hspace{-0.25ex}{{- personal.name | replace('&', '\&') -}}}
\tagline{ {{ personal.title | replace('&', '\&') }} }

\personalinfo{
  \email{ {{ personal.email | replace('&', '\&') }} }
  \linkedin{ {{ personal.linkedin | replace('&', '\&') }} }
  \location{ {{ personal.location | replace('&', '\&') }} }
  \clearance{ {{ personal.security_clearance | replace('&', '\&') }} }
}

\makecvheader

\vspace{2em}

%% Start larger font block for the letter body
{\fontsize{10.5}{14}\selectfont

\begin{flushleft}
    \today \\
    \vspace{1.5em}
    \textbf{Re: {{ cover_letter.subject | replace('&', '\&') }}} \\
\end{flushleft}

\vspace{1.5em}

Dear {{ cover_letter.recipient }},

\vspace{1em}

{\fontsize{10.5}{14}\selectfont

{{ cover_letter.opening | replace('&', '\&') }}

\vspace{1em}

{{ cover_letter.body | replace('&', '\&') }}

\vspace{1em}

{{ cover_letter.education_context | replace('&', '\&') }}

\vspace{1em}

{{ cover_letter.engagement_status | replace('&', '\&') }}

\vspace{1em}

{{ cover_letter.closing | replace('&', '\&') }}

\vspace{2em}

Yours sincerely,

\vspace{3em}

\hspace{-1pt}\textbf{ {{ personal.name }} }

} %% End larger font block

\end{document}