\documentclass[8pt,a4paper,ragged2e,withhyper]{enhancv}
\geometry{left=1.5cm,right=1.5cm,top=1.5cm,bottom=1.5cm,columnsep=1.2cm}

\begin{document}

\name{\hspace{-0.25ex}{{ personal.name | replace('&', '\&') }} }
\tagline{ {{ personal.title | replace('&', '\&') }} }

\personalinfo{
  \email{ {{ personal.email | replace('&', '\&') }} }
  \linkedin{ {{ personal.linkedin | replace('&', '\&') }} }
  \location{ {{ personal.location | replace('&', '\&') }} }
  \clearance{ {{ personal.security_clearance | replace('&', '\&') }} }
}

\makecvheader

{% if swap_columns %}
\columnratio{0.3}
\begin{paracol}{2}

%% --- NOW THE "RIGHT" COLUMN CONTENT COMES FIRST ---
\cvsection{Key Achievements}
{% include 'sections/key_achievements.tex.j2' %}

\cvsection{Skills}
\setstretch{1.5}
{% include 'sections/skills.tex.j2' %}

\cvsection{Certification}
{% include 'sections/certification.tex.j2' %}

\cvsection{Interests}
{% include 'sections/interests.tex.j2' %}

\switchcolumn

%% --- NOW THE "LEFT" COLUMN CONTENT COMES SECOND ---
\cvsection{Summary}
{{ personal.summary | replace('&', '\&') }}

\cvsection{Experience}
{% include 'sections/experience.tex.j2' %}

\cvsection{Education}
{% include 'sections/education.tex.j2' %}

\cvsection{Engineering Proficiencies}
{% include 'sections/languages.tex.j2' %}

{% else %}
%% --- ORIGINAL ORDER ---
\columnratio{0.6}
\begin{paracol}{2}

\cvsection{Summary}
{{ personal.summary | replace('&', '\&') }}

\cvsection{Experience}
{% include 'sections/experience.tex.j2' %}

\cvsection{Education}
{% include 'sections/education.tex.j2' %}

\cvsection{Engineering Proficiencies}
{% include 'sections/languages.tex.j2' %}

\switchcolumn

\cvsection{Key Achievements}
{% include 'sections/key_achievements.tex.j2' %}

\cvsection{Skills}
\setstretch{1.5}
{% include 'sections/skills.tex.j2' %}

\cvsection{Certification}
{% include 'sections/certification.tex.j2' %}

\cvsection{Interests}
{% include 'sections/interests.tex.j2' %}
{% endif %}

\end{paracol}

\end{document}
