\documentclass{\VAR{ settings.style }} % Use dynamic style name

\begin{document}

% --- CONTACT HEADER ---
% Ensure prepare_render_context maps data to "personal" or update to "basics"
\resumeHeader
    { \VAR{ personal.name } }
    { \VAR{ personal.title } }
    { \VAR{ personal.location } }
    { \VAR{ personal.email } }
    { \VAR{ personal.phone } }
    { \VAR{ personal.linkedin } }
    { \VAR{ personal.github } }

% --- SUMMARY ---
\section{PROFESSIONAL SUMMARY}
\VAR{ personal.summary }

% --- SKILLS OVERVIEW ---
\section{SKILLS OVERVIEW}
\BLOCK{ include 'sections/skills.tex.j2' }
\BLOCK{ if settings.graphics }
\vspace{4pt}
\BLOCK{ endif }

\clearpage
% --- PROFESSIONAL EXPERIENCE ---
\section{PROFESSIONAL EXPERIENCE}
\BLOCK{ include 'sections/experience.tex.j2' }

% --- EDUCATION ---
\section{EDUCATION}
\BLOCK{ include 'sections/education.tex.j2' }

% --- CERTS ---
\section{CERTIFICATIONS AND TRAINING}
\BLOCK{ include 'sections/training.tex.j2' }

% --- INTERESTS ---
\section{INTERESTS}
\BLOCK{ include 'sections/interests.tex.j2' }

\end{document}