\begin{itemize}
    \BLOCK{ for edu in education }
    \item \textbf{ \VAR{ edu.degree } } -- \VAR{ edu.institution } \BLOCK{ if edu.year }(\VAR{ edu.year })\BLOCK{ endif }
    \BLOCK{ endfor }
\end{itemize}