{%- for job in experience -%}
\noindent
{% if not graphics %}
    % --- RENDER WITHOUT LOGO COLUMN ---
    \hspace*{-2pt}\begin{tabular}[t]{ @{} l @{} }
        {\large\textbf{ {{ job.position|trim }} }}$\cdot$
        \textbf{ {{- job.company|trim }} } $\cdot$ {{ job.employment_type }} \\
        \jobdetail{
            {% if job.start_date.month -%}
                {{ job.start_date.month }} {{ job.start_date.year }} -- {% if job.current %}Present{% else %}{{ job.end_date.month }} {{ job.end_date.year }}{% endif -%}
            {%- else -%}
                {{ job.duration -}}
            {%- endif -%}
            {%- if job.duration_label %} $\cdot$ {{ job.duration_label }}{% endif -%}%
        },
        \jobdetail{ {{ job.location|trim }} $\cdot$ {{ job.location_type|trim }} }
    \end{tabular}
{% else %}
\begin{tabular}{ @{} p{1.5cm} @{} p{\dimexpr\linewidth-1.5cm\relax} @{} }
    % --- COLUMN 1: LOGO ---
    \raisebox{\dimexpr-\height+\baselineskip}{
        \includegraphics[width=1.2cm,height=1.2cm,keepaspectratio]{ {{ job.logo }} }
    }
    &
    % --- COLUMN 2: DETAILS ---

    \begin{tabular}[t]{ @{} l @{} }
        {\large\textbf{ {{ job.position|trim }} }}$\cdot$
        \textbf{ {{- job.company|trim }} }$\cdot$ {{ job.employment_type }} \\
        \jobdetail{
            {% if job.start_date.month -%}
                {{ job.start_date.month }} {{ job.start_date.year }} -- {% if job.current %}Present{% else %}{{ job.end_date.month }} {{ job.end_date.year }}{% endif -%}
            {%- else -%}
                {{ job.duration -}}
            {%- endif -%}
            {%- if job.duration_label %} $\cdot$ {{ job.duration_label }}{% endif -%}%
        },
        \jobdetail{ {{ job.location|trim }} $\cdot$ {{ job.location_type|trim }} }
    \end{tabular}
\end{tabular}
{% endif %}
\vspace{6pt}

{% if job.description %}
\noindent {{ job.description|trim }}
\vspace{4pt}
{% endif %}

{% if job.achievements %}
\noindent\textbf{Key Achievement{% if job.achievements|length > 1 %}s{% endif %}:}
\begin{itemize}[leftmargin=1.5em, nosep, topsep=2pt]
    {% for bullet in job.achievements -%}
    \item {{ bullet }}
    {% endfor -%}
\end{itemize}
\vspace{4pt}
{% endif %}

{% if job.responsibilities %}
\noindent\textbf{Responsibilities:}
\begin{itemize}[leftmargin=1.5em, nosep, topsep=2pt]
    {% for resp in job.responsibilities -%}
    \item {{ resp }}
    {% endfor -%}
\end{itemize}
\vspace{4pt}
{% endif %}

{% if job.skills %}
\noindent\textbf{Skills:} {{ job.skills | join(' $\cdot$ ') }}
\vspace{10pt} % Adjusted from 4pt to give a clear but clean separation
{% endif %}

\vspace{12pt} % This controls the gap between different job entries
{% endfor %}
