\noindent
\begin{tabularx}{\textwidth}{ @{} >{\raggedright\arraybackslash}X @{} r @{} }
\BLOCK{ for group in skill_groups }
    \large\textbf{\VAR{ group.category }} & \BLOCK{ if group.has_years }\textbf{(yrs)}\BLOCK{ endif } \\
    \BLOCK{ for item in group.entries }
        \VAR{ item.label } & \VAR{ item.yrs } \\
    \BLOCK{ endfor }
\BLOCK{ endfor }
\end{tabularx}