{% for group in certifications_and_training | groupby('category') %}
\subsubsection*{ {{ group.grouper }} }
\begin{itemize}
    {% for cert in group.list %}
    \item \textbf{ {{ cert.name }} } ({{ cert.year }})
    {% if cert.credential_id %}
    --- \textit{\small ID: {{ cert.credential_id | replace('_', '\_') }}}
    {% endif %}
    {% endfor %}
\end{itemize}
{% endfor %}