\BLOCK{ for group in certifications_and_training | groupby('category') }
\subsubsection*{ \VAR{ group.grouper } }
\begin{itemize}
    \BLOCK{ for cert in group.list }
    \item \textbf{ \VAR{ cert.name } } (\VAR{ cert.year })
    \BLOCK{ if cert.credential_id }
    --- \textit{\small ID: \VAR{ cert.credential_id }}
    \BLOCK{ endif }
    \BLOCK{ endfor }
\end{itemize}
\BLOCK{ endfor }