name: Update Resume Gist

on:
  push:
    branches: [main, master]
    tags: ['v*.*.*']
  workflow_dispatch:

jobs:
  update-resume-gist:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Update Resume Gist
      uses: exuanbo/actions-deploy-gist@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        gist_id: f39115911a69866ed0107f997489987e
        file_path: resume.json

